@import "_reset";
@import "_variables";
@import "mixins";
@import "hero";
@import "benefits";
@import "about";
@import "garantee";
@import "nothing";


a.cta {
  @include commonButton;
  margin-top: 50px;
  margin-bottom: 12px;
  text-decoration: none;
    p {
      color: #fff;
      text-transform: uppercase;
      font-size: 3.2rem;
    }
}

.card {
  box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
  background-color: #fff;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #475f7b;
  overflow: hidden;
  &-body {
    h2 {
      font-size: 4.2rem;
    }
  }
}
.rc-accordion {
  &__toggle {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    justify-content: space-between;
    background-color: #ebedf0;
    transition: 0.3s;
    &.active {
      background-color: #5a8dee;
      .rc-accordion-icon{
        transform: rotate(180deg);
        color: #fff;
      }
      .rc-accordion__title {
        color: #fff;
      }
    }

    &__card {
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 10px;
      overflow: hidden;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      font-weight: 500;
      position: relative;
      margin-bottom: 0;
      color: #475F7B;
      transition: 0.3s;
    }

    &__body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 15px;
      p {
        margin-bottom: 0;
        font-weight: 400;
        line-height: 24px;
        color: #727E8C;
      }
    }
  }
}
.rc-collapse{
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
  &.show {
    height: auto;
  }
}


.showcase {
  background: $greenDark;
  padding: 64px 0;
  margin-top: 80px;
  &-content {
    &__title {
      h2 {
        text-align: center;
        font-size: 4.2rem;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 24px;
        span {
          display: block;
          color: $greenLight;
        }
      }
      h5 {
        font-size: 2rem;
        color: #fff;
        text-align: center;
        margin-bottom: 48px;
      }
    }
    &__boxes {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
    }
  }
}


.box {
  background-color: #fff;
  max-width: 420px;
  border: 2px solid $greenLight;
  padding: 2px;
  border-radius: 20px;
  &__header {
    background-color: $greenLight;
    border-radius: 20px 20px 0 0px;
    text-align: center;
    padding: 5px 0;
    h2 {
      font-size: 4.2rem;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
    }
    h3 {
      font-size: 2.4rem;
      padding: .4rem 0;
      color: #38543c;
      background-color: #14fb93;
      margin-bottom: -5px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  &__content {
    padding: 0 24px;
    img {
      max-width: 100%;
    }
    h2 {
      font-size: 5.4rem;
      color: $greenLight;
      font-weight: 800;
      text-align: center;
      span {
        font-size: 3.2rem;
        color: #222;
        font-weight: 500;
        display: block;
        &:first-child {
          color: $greenDark;
        }
      }
    }
  }
  &__footer {
    padding: 12px 24px;
    text-align: center;
    span {
      font-weight: 500;
      color: #222;
      font-size: 2.4rem;
    }
  }
}
