@import "_reset";
@import "_variables";
@import "mixins";
@import "hero";
@import "benefits";
@import "about";
@import "garantee";
@import "nothing";


button {
  @include commonButton;
  margin-top: 50px;
  margin-bottom: 12px;
    p {
      color: #fff;
      text-transform: uppercase;
      font-size: 3.2rem;
    }
}

.card {
  box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
  background-color: #fff;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #475f7b;
  overflow: hidden;
  &-body {
    h2 {
      font-size: 4.2rem;
    }
  }
}
.rc-accordion {
  &__toggle {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    justify-content: space-between;
    background-color: #ebedf0;
    transition: 0.3s;
    &.active {
      background-color: #5a8dee;
      .rc-accordion-icon{
        transform: rotate(180deg);
        color: #fff;
      }
      .rc-accordion__title {
        color: #fff;
      }
    }

    &__card {
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 10px;
      overflow: hidden;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      font-weight: 500;
      position: relative;
      margin-bottom: 0;
      color: #475F7B;
      transition: 0.3s;
    }

    &__body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 15px;
      p {
        margin-bottom: 0;
        font-weight: 400;
        line-height: 24px;
        color: #727E8C;
      }
    }
  }
}
.rc-collapse{
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
  &.show {
    height: auto;
  }
}